
	.nav {
                width: 50%;
                height: 60px;
                margin: auto;
             font-family: 'Knewave', cursive;
                font-size: 45px;
                word-spacing: 70px;
				}
    .content {
                width: 50%;
                margin: auto;
             font-family: 'Knewave', cursive;
			  padding: 3px;
            }
    .footer {
                margin-top: 15px;
			font-family: 'Knewave', cursive;
                padding: 10px;
			}
			
	.button{
 text-decoration:none; 
 text-align:center; 
 padding:10px 100px; 
 border:solid 5px #0faabf; 
  
 font:50px 'Knewave', cursive;
 font-weight:bold; 
 color:#0fafcf; 
 background: rgba( 255, 0, 0, 0); 
 -webkit-box-shadow:0px 0px 2px #0fd6cf, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #0fd6cf,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #0fd6cf, inset 0px 0px 1px #ffffff;  
  }
<!-- HelloPreload http://hello-site.ru/preloader/ -->
<style type="text/css">#hellopreloader>p{display:none;}#hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #1E8BC3 url(http://hello-site.ru//main/images/preloads/ball-triangle.svg) center center no-repeat;background-size:92px;}</style>
<div id="hellopreloader"><div id="hellopreloader_preload"></div><p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p></div>
<script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};</script>
<!-- HelloPreload http://hello-site.ru/preloader/ -->